<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyek_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyek_Android">
        <activity
            android:name=".listPujaseraAct"
            android:exported="false" />
        <activity
            android:name=".books_recommend"
            android:exported="true" />
        <activity
            android:name=".motivation_tips"
            android:exported="true" />
        <activity
            android:name=".study_tips"
            android:exported="true" />
        <activity
            android:name=".productivity_tips"
            android:exported="true" />
        <activity
            android:name=".article_detail"
            android:exported="true" />
        <activity
            android:name=".DetailJournalAct"
            android:exported="true" />
        <activity
            android:name=".JournalHistoryAct"
            android:exported="true" />
        <activity
            android:name=".EditProjectAct"
            android:exported="true" />
        <activity
            android:name=".ProjectHistoryAct"
            android:exported="true" />
        <activity
            android:name=".TaskHistoryAct"
            android:exported="true" />
        <activity
            android:name=".AddNewProjectAct"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileAct"
            android:exported="true" />
        <activity
            android:name=".SignUpAct"
            android:exported="true" />
        <activity
            android:name=".LoginAct"
            android:exported="true" />
        <activity
            android:name=".LaunchscreenAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>